/*Start scss style section*/
/*Const value web site */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* body {
  height: 100vh;
  width: 100%;
}
* body .fullSection {
  width: 100%;
  height: 100%;
}

.navMenu {
  padding-top: 15px;
  width: 100%;
  height: 90px;
  box-shadow: 0px 4px 14px 1px rgba(34, 60, 80, 0.2);
}
.navMenu .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navMenu .nav .logo {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(131, 24, 230);
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
}
.navMenu .nav .tex_animation .static_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 40px;
}
.navMenu .nav .tex_animation .static_text span {
  color: darkorange;
}
.navMenu .nav .tex_animation .dynamic_text {
  overflow: hidden;
  list-style: none;
  height: 40px;
  align-items: center;
}
.navMenu .nav .tex_animation .dynamic_text li {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding: 0;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
.navMenu .nav .tex_animation .dynamic_text li span {
  color: darkorange;
}
.navMenu .nav .tex_animation .dynamic_text li {
  position: relative;
  margin: 5px 0;
  line-height: 30px;
  margin-top: 15px;
}
.navMenu .nav .tex_animation .dynamic_text li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 5px solid blueviolet;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.navMenu .nav .language select {
  width: 70px;
  border-radius: 10px;
  padding: 2px 3px;
  border: none;
  transition: all 0.1s ease;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
.navMenu .nav .language select option {
  margin: 10px;
}
.navMenu .nav .language select:hover {
  box-shadow: 0px 1px 8px 1px rgba(24, 12, 244, 0.2);
}

/*Main section start scss style*/
.container_color {
  background-color: rgba(107, 106, 105, 0.434);
}

.section {
  width: 100%;
  height: 87.5vh;
  display: flex;
  background-color: white;
  margin-top: 10px;
}
.section .boxOne {
  width: 30%;
  height: 100%;
}
.section .boxOne .search {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}
.section .boxOne .search .search_input {
  padding: 2px 10px;
  border-radius: 5px;
  border-color: white;
}
.section .boxOne .search .search_button {
  border-radius: 5px;
  margin-left: 10px;
  padding: 2px 5px;
  background-color: #8318E6;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}
.section .boxOne .search .search_button:hover {
  border: 1px solid #8318E6;
  background-color: white;
  color: #8318E6;
}
.section .boxOne .img {
  margin: auto;
  margin-top: 30px;
  width: 90%;
}
.section .boxOne .img img {
  background-size: cover;
}
.section .boxOne .info {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.section .boxOne .info .oneInfo {
  width: 100%;
}
.section .boxOne .info .oneInfo .item_1 {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 21px;
  border-bottom: 1px solid #8318E6;
}
.section .boxOne .info .oneInfo .item_1 span {
  font-style: italic;
}
.section .boxOne .info .oneInfo .item_2 {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 21px;
  border-bottom: 1px solid #8318E6;
}
.section .boxOne .info .oneInfo .item_2 span {
  font-style: italic;
}
.section .boxOne .info .twoInfo {
  width: 100%;
}
.section .boxOne .info .twoInfo .item_1 {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 21px;
  border-bottom: 1px solid #8318E6;
}
.section .boxOne .info .twoInfo .item_1 span {
  font-style: italic;
}
.section .boxOne .info .twoInfo .item_2 {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 21px;
}
.section .boxOne .info .twoInfo .item_2 span {
  font-style: italic;
}
.section .boxTwo {
  width: 70%;
  overflow: scroll;
}

/*Start style responsive*/



@media screen and (max-width: 1400px) {
  .continer_color{
    position: relative;
  }
  .section{
    position: relative;
  }
  .boxOne{
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 33;
    background-color: #8318E6;
  }
  .boxTwo{
    position: fixed;
    z-index: 1;
  }
  
}
@media screen and (max-width: 800px) {
  .tex_animation {
    position: absolute;
    bottom: 20px;
  }
  .tex_animation ul li {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */